modules = ["web", "nodejs-20", "ruby-3.2"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Jekyll Serve Alt Port"

[[workflows.workflow]]
name = "Jekyll Serve"
author = 33561697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle exec jekyll serve --host=0.0.0.0 --port=4000"

[[workflows.workflow]]
name = "Jekyll Serve Alt Port"
author = 33561697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pkill -f jekyll || true && bundle exec jekyll serve --host=0.0.0.0 --port=8080 --detach --livereload --force_polling"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
