modules = ["web", "nodejs-20", "ruby-3.2"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Jekyll Serve"

[[workflows.workflow]]
name = "Jekyll Serve"
author = 33561697
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bundle exec jekyll serve --host=0.0.0.0 --port=4000"

[[ports]]
localPort = 4000
externalPort = 80
