---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        {% if page.start_date_range and page.end_date_range %}
        <p class="post-date-range">{{ page.start_date_range }} - {{ page.end_date_range }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% assign no-image = nil %}
  {% if page.image %}
    <div class="post__head">
      <div class="post-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
    </div>
  {% else %}
    {% assign no-image = 'post-no-image' %}
  {% endif %}

  </div>


  <div class="container">
  <div class="row">
    <!-- begin post -->
    <article class="post {{ no-image }} col col-8 col-t-10 col-m-12">

      <div class="post__content">
        {{ content }}
      </div>

      
    </article>
    <!-- end post -->
    </div>
  </div>

  <div class="container">
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="prev">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}" style="background-image: url({{site.baseurl}}/images/{{page.previous.image}})"></a>
      <h2 class="post__nav__title">
        <i class="ion ion-md-arrow-back"></i>
        <a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
      </h2>
      {% if page.previous.start_date_range and page.previous.end_date_range %}
      <p class="post__nav__date-range">{{ page.previous.start_date_range }} - {{ page.previous.end_date_range }}</p>
      {% endif %}
    </div>
    {% endif %}

    {% if page.next.url %}
    <div class="next">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}" style="background-image: url({{site.baseurl}}/images/{{page.next.image}})">
      </a>
      <h2 class="post__nav__title">
        <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="ion ion-md-arrow-forward"></i>
      </h2>
      {% if page.next.start_date_range and page.next.end_date_range %}
      <p class="post__nav__date-range">{{ page.next.start_date_range }} - {{ page.next.end_date_range }}</p>
      {% endif %}
    </div>
    {% endif %}
  </div>

  {% if site.data.settings.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
  </div>
